dash
dash-core-components
dash-bootstrap-components
pandas
numpy
oandapyV20
gunicorn
plotly
python-dotenv
requests
flask
flask-cors
flask-socketio
v20
yfinance
pandas_ta
matplotlib
numpy-financial
pandas_market_calendars
pandas-datareader
alpaca-trade-api
alpaca-py
apscheduler